# Primeros pasos en Python

Este es nuestro primero notebook para introducirnos en python

In [17]:
print("Hola mundo")

Hola mundo

In [8]:
nombre = 'Andrés'

In [20]:
edad = 40

In [27]:
print(nombre, edad)

René 15

In [9]:
print('Mi nombre es ', nombre, '. Mi edad es ', edad, 'años')

Mi nombre es  Andrés . Mi edad es  35 años

In [10]:
print('Mi nombre es {}. Mi edad es {} años'.format(nombre, edad))

Mi nombre es Andrés. Mi edad es 35 años

In [15]:
print('Mi nombre es {}. Mi edad es {} años'.format(edad, nombre))

Mi nombre es 35. Mi edad es Andrés años

In [14]:
print("Mi nombre es {1}. Mi edad es {0} años".format(edad, nombre))
                                                       0      1

Mi nombre es Andrés. Mi edad es 35 años

In [18]:
print("Mi nombre es {1}. Mi edad es {0} años".format(edad, nombre))

Mi nombre es Andrés. Mi edad es 35 años

In [21]:
print(nombre, edad)

Andrés 40

In [22]:
nombre = 'René'
edad = 15

In [23]:
print(nombre, edad)

René 15

In [24]:
apodo = nombre

In [25]:
print(apodo)

René

In [26]:
id(apodo)

2380887862928

In [28]:
id(nombre)

2380887862928

In [29]:
nombre= 'María'

In [30]:
print(apodo)

René

In [31]:
print(nombre)

María

In [32]:
id(apodo)

2380887862928

In [33]:
id(nombre)

2380888096160

In [34]:
lista_de_numeros = [1,2,3,4,5,6]

In [35]:
print(lista_de_numeros)

[1, 2, 3, 4, 5, 6]

In [36]:
lista_de_numeros

[1, 2, 3, 4, 5, 6]

In [37]:
type(edad)

int

In [38]:
type(nombre)

str

In [39]:
type(lista_de_numeros)

list

In [40]:
lista_otros_numeros = lista_de_numeros

In [41]:
id(lista_otros_numeros)

2380886794184

In [42]:
id(lista_de_numeros)

2380886794184

In [43]:
lista_otros_numeros

[1, 2, 3, 4, 5, 6]

In [46]:
lista_otros_numeros[5]

6

In [47]:
lista_otros_numeros[5] = 8

In [48]:
lista_otros_numeros

[1, 2, 3, 4, 5, 8]

In [49]:
id(lista_otros_numeros)

2380886794184

In [50]:
lista_de_numeros

[1, 2, 3, 4, 5, 8]

In [51]:
edad = '31'

In [52]:
type(edad)

str

In [53]:
edad = 31

In [54]:
type(edad)

int