# Primeros pasos en Python

Este es nuestro primero notebook para introducirnos en python

In [17]:
print("Hola mundo")

Hola mundo

In [8]:
nombre = 'Andrés'

In [20]:
edad = 40

In [27]:
print(nombre, edad)

René 15

In [9]:
print('Mi nombre es ', nombre, '. Mi edad es ', edad, 'años')

Mi nombre es  Andrés . Mi edad es  35 años

In [10]:
print('Mi nombre es {}. Mi edad es {} años'.format(nombre, edad))

Mi nombre es Andrés. Mi edad es 35 años

In [15]:
print('Mi nombre es {}. Mi edad es {} años'.format(edad, nombre))

Mi nombre es 35. Mi edad es Andrés años

In [14]:
print("Mi nombre es {1}. Mi edad es {0} años".format(edad, nombre))
                                                       0      1

Mi nombre es Andrés. Mi edad es 35 años

In [18]:
print("Mi nombre es {1}. Mi edad es {0} años".format(edad, nombre))

Mi nombre es Andrés. Mi edad es 35 años

In [21]:
print(nombre, edad)

Andrés 40

In [22]:
nombre = 'René'
edad = 15

In [23]:
print(nombre, edad)

René 15

In [24]:
apodo = nombre

In [25]:
print(apodo)

René

In [26]:
id(apodo)

2380887862928

In [28]:
id(nombre)

2380887862928

In [29]:
nombre= 'María'

In [30]:
print(apodo)

René

In [31]:
print(nombre)

María

In [32]:
id(apodo)

2380887862928

In [33]:
id(nombre)

2380888096160

In [34]:
lista_de_numeros = [1,2,3,4,5,6]

In [35]:
print(lista_de_numeros)

[1, 2, 3, 4, 5, 6]

In [36]:
lista_de_numeros

[1, 2, 3, 4, 5, 6]

In [37]:
type(edad)

int

In [38]:
type(nombre)

str

In [39]:
type(lista_de_numeros)

list

In [40]:
lista_otros_numeros = lista_de_numeros

In [41]:
id(lista_otros_numeros)

2380886794184

In [42]:
id(lista_de_numeros)

2380886794184

In [43]:
lista_otros_numeros

[1, 2, 3, 4, 5, 6]

In [46]:
lista_otros_numeros[5]

6

In [47]:
lista_otros_numeros[5] = 8

In [48]:
lista_otros_numeros

[1, 2, 3, 4, 5, 8]

In [49]:
id(lista_otros_numeros)

2380886794184

In [50]:
lista_de_numeros

[1, 2, 3, 4, 5, 8]

In [51]:
edad = '31'

In [52]:
type(edad)

str

In [53]:
edad = 31

In [54]:
type(edad)

int

In [55]:
lista_1 = [1,2,3]

In [56]:
lista_2 = [1,2,3]

In [57]:
id(lista_1)

2380888134792

In [58]:
id(lista_2)

2380877706760

In [59]:
lista_1 = lista_2

In [60]:
id(lista_1)

2380877706760

In [61]:
for x in lista_2:
    print(x)

1
2
3

In [63]:
for x in lista_2:
    print(x)
    print(x*30)
    print("el valor es: ", x)

1
30
el valor es:  1
2
60
el valor es:  2
3
90
el valor es:  3

In [65]:
numero = 1

while (numero>0):
    numero = numero + 1

KeyboardInterrupt:

In [68]:
for numero in range(1,100):
    print(numero)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99