In [1]:
x= '5'

In [2]:
y= '7'

In [3]:
type(x)

str

In [4]:
x_modificada = int(x)

In [5]:
type(x_modificada)

int

In [6]:
x_modificada

5

In [7]:
suma = x + y

In [8]:
suma

'57'

In [9]:
suma = int(x) + int(y)

In [10]:
suma

12

In [15]:
x = 'Este es un ejemplo '

In [16]:
print(x*6)

Este es un ejemplo Este es un ejemplo Este es un ejemplo Este es un ejemplo Este es un ejemplo Este es un ejemplo

In [29]:
variable_1 = True
variable_2 = True
variable_3 = True
variable_4 = True

In [30]:
variable_1 or  variable_2 or variable_3 or variable_4

True

In [31]:
variable_1 and  variable_2 and variable_3 and variable_4

True

In [32]:
datos_personales = ["Ronald",35, 1.70,False]

In [33]:
datos_personales

['Ronald', 35, 1.7, False]

In [34]:
datos_personales[1]

35

In [38]:
datos_personales[2] > 1.5

True

In [39]:
lista_1 = [2,3,4,5]
lista_2 = [45, 45]

In [40]:
lista_1 + lista_2

[2, 3, 4, 5, 45, 45]

In [41]:
lista_1 = [2,3,"Ronald",True]

In [42]:
type(lista_1)

list

In [43]:
lista_1.append("Rodríguez")

In [44]:
lista_1

[2, 3, 'Ronald', True, 'Rodríguez']

In [45]:
lista = list()

In [46]:
len(lista)

0

In [57]:
edad = 14
estatura = 1.0

if estatura >= 1.2:
    print("Usted puede subir a las tazas pero necesita supervisión")

Usted puede subir a las tazas pero necesita tacones

In [2]:
import pandas as pd
import numpy as np
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])

In [3]:
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
df2.to_dict(orient='records')

[{'a': 1, 'b': 2, 'c': 3}, {'a': 4, 'b': 5, 'c': 6}, {'a': 7, 'b': 8, 'c': 9}]

In [5]:
df2[['a']].to_dict(orient='records')

[{'a': 1}, {'a': 4}, {'a': 7}]

In [6]:
def convert_list_of_dict_to_pandas_data_frame(list_of_dict):
    return pd.DataFrame(list_of_dict)

In [7]:
convert_list_of_dict_to_pandas_data_frame([{'a': 1}, {'a': 4}, {'a': 7}])

   a
0  1
1  4
2  7

In [8]:
days = set()

In [9]:
days.add("ar")

In [10]:
days

{'ar'}

In [11]:
days.add(["far","tre"])

TypeError: unhashable type: 'list'

In [12]:
lista = ["far","tre"]

In [15]:
lista2 = ["f52","tre"]

In [16]:
lista.append(["f52","tre"])

In [17]:
import numpy as 
lista.append()

['far', 'tre', ['f52', 'tre']]

In [18]:
np.ravel(lista)

array(['far', 'tre', list(['f52', 'tre'])], dtype=object)

In [19]:
np.ravel(lista2)

array(['f52', 'tre'], dtype='<U3')